# ১. বাইডিফল্ট ফোল্ডারের সব ফাইল/ফোল্ডার ইগনোর করো
*

# ২. সাব-ফোল্ডারগুলোতে যেন গিট ঢুকতে পারে
!*/

# ৩. কেবল মাত্র .c সোর্স ফাইলগুলোকে এলাউ করো
!*.c

# ৪. .gitignore এবং README ফাইল এলাউ করো
!.gitignore
!README.md